{% extends 'master/master_layout.html' %}

{% block content %}
<div class="uk-container uk-margin-top">
    <h1 class="uk-heading-medium uk-heading-divider">Hello there dear user!</h1>
    <p class="uk-text-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil incidunt, quaerat blanditiis doloribus quia iste qui laborum, accusantium ipsa inventore veritatis cupiditate sapiente molestias optio beatae tempore esse nemo rem!</p>
    <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-overlay">Open</button>

    <div class="uk-margin-large-top">
        <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th>Table Heading</th>
                    <th>Table Heading</th>
                    <th>Table Heading</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="offcanvas-overlay" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close>qweqwe</button>

        <h3>Title</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <div>
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
                <li class="uk-active"><a href="#">Active</a></li>
                <li class="uk-parent">
                    <a href="#">Parent</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Sub item</a></li>
                        <li>
                            <a href="#">Sub item</a>
                            <ul>
                                <li><a href="#">Sub item</a></li>
                                <li><a href="#">Sub item</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}